<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="csStudents"
				 connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename =o:\VP\Peldaprogramok_GitHubon\WPFAN-Students\studentdb.mdf; Integrated Security = True"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
